@model FinancasCasal.Models.Transacao
@{
    ViewData["Title"] = "Gastos";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Gastos">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FundoId" />
            <input type="hidden" asp-for="ContaId" />
            <input type="hidden" asp-for="Debito" />
            <input type="hidden" asp-for="Efetivada" />
            <div class="form-group">
                <label asp-for="Fundo"></label>
                <label>- @Html.DisplayFor(model => model.Fundo.Nome)</label>
                <label>- @Html.DisplayFor(model => model.Fundo.Pessoa.Nome)</label>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input type="date" asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-default" />
                <a asp-action="Index"> | Voltar</a>
            </div>
        </form>
    </div>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Fundo.Transacoes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>

            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}