@model IEnumerable<FinancasCasal.Models.Fundo>

@{
    ViewData["Title"] = "Fundos";
}

<h2>@ViewData["Title"]</h2>


<p>Página inicial de Fundos.</p>

<p>
    <a asp-action="Criacao" class="btn btn-default">Criar</a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pessoa)
            </th>

            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Saldo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Pessoa.Nome)
                </td>

                <td>
                    <a asp-action="Edicao" asp-route-id="@item.Id">Editar</a>
                    <a asp-action="Delecao" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>